.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    height: 90vh;
}

.container__nicho {
    background-color: var(--cor4);
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.325);
    padding: 10px;
    height: 400px;
    width: 175px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome_produto {
    font-size: 1em;
    font-weight: bold;
    color: var(--cor0);
}

.nicho__imagem {
    display: flex;
    align-items: center;
    height: 180px;
    width: 180px;
}

.nicho__imagem__img {
    height: 160px;
    width: 180px;
}

/*------------------------------------------------------------*/

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
    font-size: 1em
}
.estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

/*-------------------------------------------*/

.nicho__informacoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descricao {
    color: #667381;
    font-size: .7em;
}

.preco_anterior {
    font-size: .7em;
    font-weight: bold;
    text-decoration: line-through;
    color: #99A2AB;
}

.preco_atual {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--cor0);
}

.comprar {
    background-color: var(--cor0);
    color: white;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}