.swiper  {
    width: 1060px;
    padding: 15px 0px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    height: 90px;
    width: 150px; 
}

.swiper-slide:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.256);
    border-radius: 10px;
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    color: var(--cor1);
}

.swiper-pagination {
    display: none;
}

.swiper-scrollbar {
    display: none;
}

