@charset "UTF-8";

@media screen and (max-width: 320px) { /*celulares pequenos*/

    .container {
        padding-left: 0px;
        width: 300px;
    }
    
    .nicho {
        height: 285px;
        width: 130px;
        margin: 0px 0px 5px 2px;
    }
    
    .imagem_produto {
        display: block;
        margin: auto;
        height: 115px;
        width: 120px;
    }
    
    .preco_atual {
        font-size: 1.2em;
    }

    .descricao {
        font-size: 0.5em;
    }

    .comprar {
        height: 40px; 
        padding-bottom: 5px;
    }
    
    footer {
        height: 35vh;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {  /* TABLET */ 
    div#botao_login span {   
         margin: 30px 50px 0px 200px; 
     }


    h1#texto_inicial {
         text-align: left;
    }

    .container {
        padding-left: 0px;
        width: 700px;
    }

    footer {
         height: 30vh;
     }

}

@media screen and (min-width: 992px) { /* DESKTOP */  

    div#botao_login span {   
        margin: 30px 50px 0px 300px; 
    }

    h1#texto_inicial {
        text-align: left;
    }

    .container {
        padding-left: 0px;
        width: 795px;
    }
    
    .nicho {
        height: 405px;
        width: 170px;
        margin: 5px;
    }
    
    .imagem_produto {
        display: block;
        margin: auto;
        height: 200px;
        width: 180px;
    }
    
    .preco_atual {
        font-size: 2em;
    }
    
    .comprar {
        height: 50px; 
        padding-bottom: 5px;
    }

    footer {
        margin-top: 90px;
        height: 30vh;
    }
}