@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

section#container {
    background-color: red;
}


.nicho {
    height: 375px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
    padding: 12px;
    max-height: 465px;
    max-width: 180px;
    margin: 10px ;
    display: inline-block;
}

.nome_produto {
    font-weight: bold;
    color: var(--cor0);
}

.imagem_produto {
    margin: auto;
    height: 200px;
    width: 185px;
}

.descricao {
    color: #667381;
    font-size: 12px;
}

.preco_anterior {
    font-size: 13px;
    font-weight: bold;
    text-decoration: line-through;
    color: #99A2AB;
    margin-bottom: 10px;

}

.preco_atual {
    font-size: 25px;
    font-weight: bolder;
    color: var(--cor0);
    margin-top: -10px;
}

.comprar {
    background-color: var(--cor0);
    font-size: 20px;
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    padding-top: 25px;
}

.comprar:hover {
    background-color: var(--cor1);
}

.comprar:active {
    color: var(--cor1);
    background-color: white;
}