@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.nicho {
    height: 290px;
    width: 150px;
}

.nome_produto {
    font-size: 12px;
}

.imagem_produto {
    margin: auto;
    height: 150px;
    width: 145px;
}

.descricao {
    font-size: 8px;
}

.preco_anterior {
    font-size: 10px;
}

.preco_atual {
    font-size: 20px;
     
}

.comprar {
    font-size: 15px;
    height: 40px;
    border-radius: 10px;
    padding-top: 25px;
}
