@charset "UTF-8";

@media screen and (min-width: 374px) and (max-width: 812px) {
    
    header {
        height: 105px;
    }

    nav {
        padding: 0px;
    }
    
    hr {
        border: none;
    }

    nav a {
        font-size: 11px;
        padding: 5px; 
    }
    
    h1#texto_inicial {
        text-align: center;   
        font-weight: bold;
        color: var(--cor2);
        font-size: 15px;
        padding-bottom: 10px;
    }
    

    .container {
        margin: auto;
        display: block;
        max-width: 1135px;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .nicho {
        height: 310px;
        width: 150px;
        padding: 8px;
        margin: 3px;
    }

    .nome_produto {
        font-size: 14px;
    }

    .imagem_produto {
        margin: auto;
        height: 150px;
        width: 150px;
    }

    .descricao {
        font-size: 10px;
    }

    .preco_anterior {
        font-size: 10px;
    }

    .preco_atual {
        font-size: 22px;
    }

    .comprar {
        font-size: 18px;
        height: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

}