@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --cor0: #363863;
    --cor1: #363889;
    --cor2: #1C5943;
}

* {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body, html {
    height: 100vh;
    background-color: #F9F9F9;
}

header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.413);
}

header > img {
    margin: auto;
    display: block;
    padding: 15px;
    height: 50px;
}

div#botao_login span {
    position: absolute;
    display: inline-flex;
    margin: 30px 10px 0px 10px;
    color: #363863;
}

div#botao_login span:hover {
    background-color: #363863;
    color: white;
    border-radius: 10px;  
}


div#botao_login span:active {
    background-color: #363863;
    color: white;
    border-radius: 10px;

    transition: .2s;
}

i#burguer {
    background-color: var(--cor0);
    color: white; 
    display: block;
    text-align: center;
    padding: 3px;
}

i#burguer:hover {
    background-color: white;
    color: var(--cor0); 
}

i#burguer:active {
    background-color: var(--cor0);
    color: white; 
}
   
menu {
    display: none;
    text-align: center;
    font-weight: bold; 
}

menu > ul > li > a {
    display: block;
    color: var(--cor0);
    font-weight: bold;
    padding: 3px;
}

menu > ul > li > a:hover {
    background-color: var(--cor0);
    color: white;  
}

menu > ul > li > a:active {
    background-color: white;
    color: var(--cor0);   
}

.container {
    margin: auto;
    display: block;
    max-width: 1135px;
    padding-top: 15px;
    padding-left: 10.5px;

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

.nicho {
    height: 335px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
    padding: 8px;
    max-height: 465px;
    max-width: 180px;
    margin: 3px;
    display: inline-block;
}

.nome_produto {
    font-size: 1em;
    font-weight: bold;
    color: var(--cor0);
}

.imagem_produto {
    margin: auto;
    height: 150px;
    width: 150px;
}

.descricao {
    color: #667381;
    font-size: .7em;
}

.preco_anterior {
    font-size: .7em;
    font-weight: bold;
    text-decoration: line-through;
    color: #99A2AB;
    margin-bottom: 10px;

}

.preco_atual {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--cor0);
    margin-top: -10px;
}

.comprar {
    background-color: var(--cor0);
    font-size: 1.3em;
    color: white;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 25px;
}

.comprar:hover {
    background-color: var(--cor1);
}

.comprar:active {
    color: var(--cor1);
    background-color: white;
}

footer {
    background-color: #363863;
    height: 30vh;
    margin-top: 20px;
}

/* ELEMENTOS */

h1 {
    font-weight: 100;
    text-align: center;
}

h1#texto_inicial {
    text-align: center;   
    font-weight: bold;
    color: var(--cor2);
    font-size: 1.2em;
    padding: 10px;
}

h2 {
    text-align: center;
}

div.redes {
    height: 55px;
    width: 157px;
    margin: auto;
    margin-bottom: 20px;
    display: block;
}

div.redes img {
    max-width: 50px;
    max-width: 50px;
    margin-bottom: 10px;
}